
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">OurFight</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" >
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="index.html">Home</a>
                </li>


                <!-- <li class="nav-item">
                  <a class="nav-link" href="doctors.html">All Doctors</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="therapists.html">Therapists</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="group-therapists.html">Group Therapists</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="psychiatrists.html">Psychiatry</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="child-psychologists.html">Child Psychology</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="marriage-counselors.html"> Marriage Counseling</a>
                </li>



                <li class="nav-item" id="new-item-nav-item" style="background-color: aliceblue;" hidden>
                  <a class="nav-link" href='new-doctor.html' style="color:crimson; font-weight: bold;">Add New Fighter</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="https://www.samhsa.gov/">Substance Abuse and Mental Health Services Administration</a></li>
                    <li><a class="dropdown-item" href="https://www.medicaid.gov/medicaid/index.html">Medicaid.gov</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href=" " id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Motivational YouTube</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="https://www.youtube.com/user/etthehiphoppreacher">Eric Thomas</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCBDWo0g9N8pL8c9QhE8Lxxw">CT Fletcher</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCj9fPezLH1HUh7mSo-tB1Mg">Eckhart Tolle</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UC5VP2Yr-U7PHyDKHQQfkH9w">Dare to do</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCybBViio_TH_uiFFDJuz5tg">Einzelgänger</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCkjG1Mo1kkaAbt618YNNYHg">Everyday Stoic</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCw-e1bYI5y7Cr67qeL45YxA">Habits of the Wealthy</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCkqcY4CAuBFNFho6JgygCnA">Jocko Willink</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCL_f53ZEJxp8TtlOkHwMV9Q">Jordan Peterson</a></li>
                    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCHCi9A9-ibkH3-fOw4GhZUg">Les Brown</a></li>
                  </ul>
                </li>
                <li class="nav-item" id ="login-nav-item">
                  <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item" id="log-out-nav-item" hidden>
                  <a class="nav-link">Log Out</a>
                </li>
              </ul>
              <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->
            </div>
          </div>
        </nav>
  </header>

    <main>


        <div class="p-5 mb-4 bg-light rounded-3" id="login">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-white">Welcome to OurFight</h1>
            <p class="col-md-8 fs-4 text-white">"The Road of a Thousand Miles Begins with One Step"—Confucius</p>
            <a href="login.html" id="login-nav-item" class="btn btn-primary">Login</a>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2><em>NAMI</em></h2>
              <p>NAMI, the National Alliance on Mental Illness, is the nation’s largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness.</p>
              <a href="https://www.nami.org/Blogs/NAMI-Blog/February-2020/Mental-Illness-Should-Not-Be-a-Secret?gclid=CjwKCAjwx6WDBhBQEiwA_dP8reAegVoQEaVDWcyjlVndbCtFrICEqgbaoK-5ASDopwATA5LkVOW8HxoCMjgQAvD_BwE" class="btn btn-primary">Go to nami.org</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2><em>SAMHSA</em></h2>
              <p>The Substance Abuse and Mental Health Services Administration (SAMHSA) is the agency within the U.S. Department of Health and Human Services that leads public health efforts to advance the behavioral health of the nation. SAMHSA's mission is to reduce the impact of substance abuse and mental illness on America's communities.</p>
              <a href="https://www.samhsa.gov/" class="btn btn-primary">Go to samhsa.gov</a>
            </div>
          </div>
          </div>
    </main>






