
 
    <main>


        <div class="p-5 mb-4 bg-light rounded-3" id="login">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-white">Welcome to OurFight</h1>
            <p class="col-md-8 fs-4 text-white">"The Road of a Thousand Miles Begins with One Step"—Confucius</p>
            <a href="login.html" id="login-nav-item" class="btn btn-primary">Login</a>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2><em>NAMI</em></h2>
              <p>NAMI, the National Alliance on Mental Illness, is the nation’s largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness.</p>
              <a href="https://www.nami.org/Blogs/NAMI-Blog/February-2020/Mental-Illness-Should-Not-Be-a-Secret?gclid=CjwKCAjwx6WDBhBQEiwA_dP8reAegVoQEaVDWcyjlVndbCtFrICEqgbaoK-5ASDopwATA5LkVOW8HxoCMjgQAvD_BwE" class="btn btn-primary">Go to nami.org</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2><em>SAMHSA</em></h2>
              <p>The Substance Abuse and Mental Health Services Administration (SAMHSA) is the agency within the U.S. Department of Health and Human Services that leads public health efforts to advance the behavioral health of the nation. SAMHSA's mission is to reduce the impact of substance abuse and mental illness on America's communities.</p>
              <a href="https://www.samhsa.gov/" class="btn btn-primary">Go to samhsa.gov</a>
            </div>
          </div>
          </div>
    </main>






