<main class ="container table">
  <h1>Group Therapy</h1>
<table mdbTable class= "table">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let doctor of doctors">
      <th scope="row">{{doctor.id}}</th>
      <td>{{doctor.name}}</td>
      <td>{{doctor.gender}}</td>
      <td>{{doctor.available}}</td>
      <td>{{doctor.volunteer}}</td>
      <td>{{doctor.specialty}}</td>
    </tr>
  </tbody>
</table>
</main>
